body{
    background-color: wheat;
}
p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#containor{
    border: 2px solid black;
    margin-top: 100px;
    margin-left: 500px;
    height: 300px;
    width: 800px;
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start f; 
    align-self: center;
    justify-content: space-between;
    justify-content: flex-start;



}
#one{
    align-self: flex-start;
    flex-shrink: 6;
    max-width: 400px;
    height: 50px;
    width: 125px;
    background-color: rgb(183, 11, 183);
}
#two{
    height: 50px;
    width: 125px;
    background-color: indigo;
}
#three{
    height: 50px;
  
    flex-basis: 400px;
    /* flex-grow: 3;
     */
    flex-shrink: 2;
    background-color:blue ;
    flex-shrink: 3;
}
#four{
    height: 50px;
    width: 125px;
    background-color: green;
    max-width: 400px;
    flex: 2 2 100px;
}


#five{
    height: 50px;
    width: 125px;
    background-color: yellow;
}
#six{
    height: 50px;
    width: 125px;
    background-color: orange;
}
#seven{
    height: 50px;
    width: 125px;
    align-self: flex-end;
    
    background-color: red;
}




