p   {
    font-family: League sparten;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 10px;
    letter-spacing: 2px;
    text-decoration: 1.5px;
    text-decoration: double red underline;
    text-transform: uppercase;
}